# VSCode
.vscode/*

# Storage
s3-data/*
mysql-data/*
mlruns/*

# SQL file
mysql.session.sql

# Heimdall
heimdall/keys/*
heimdall/log/*
heimdall/nginx/*
heimdall/php/*
heimdall/www/logs/*
heimdall/.migrations

# K3s
k3s-ca.crt

# Secrets
.sops.yaml