---
# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
argo-cd:
  global:
    image:
      # repository: ghcr.io/celsuss/argo-cd-repo-server-sops
      # tag: "1.0.10"
      repository: quay.io/argoproj/argocd
      tag: "v3.1.4"
      pullPolicy: IfNotPresent

    domain: argocd.homelab.local

    logging:
      # -- Set the global logging format. Either: `text` or `json`
      format: text
      # -- Set the global logging level. One of: `debug`, `info`, `warn` or `error`
      level: info

  # -- TODO: Enable dex later for OAuth
  dex:
    enabled: false

  configs:
    params:
      server.insecure: "true"

    # cm:
    #   create: true
    #   helm.valuesFileSchemes: >-
    #     secrets,
    #     secrets+literal,
    #     secrets+gpg-import,
    #     secrets+gpg-import-kubernetes,
    #     secrets+age-import,
    #     secrets+age-import-kubernetes

  server:
    replicas: 1
    extraArgs:
      - --insecure
      - --repo-server-timeout-seconds=240

    ingress:
      enabled: true
      ingressClassName: traefik
      hostname: argocd.homelab.local
      servicePortName: http
      annotations:
        # -- Instruct Traefik to use the 'websecure' entrypoint (port 443/TLS).
        # traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
        # -- Instruct Traefik to terminate TLS for this route.
        # traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/service.scheme: h2c
      tls: false
      # tls:
      #   - hosts:
      #     - argocd.homelab.local

    resources:
      requests:
        cpu: 50m
        memory: 128Mi

  repoServer:
    replicas: 1
    # -- Use the custom image that includes the sops binary.
    image:

      # repository: ghcr.io/celsuss/argo-cd-repo-server-sops
      # tag: "1.0.12" # "1.0.10"

      repository: quay.io/argoproj/argocd
      tag: "v3.1.4"
      pullPolicy: IfNotPresent


    # env:
    #   - name: HELM_PLUGINS
    #     value: /home/argocd/.local/share/helm/plugins
    #   - name: HELM_SECRETS_QUIET
    #     value: "true"

    volumes:
      - name: sops-age-key
        secret:
          secretName: sops-age-key
          defaultMode: 0400
    volumeMounts:
      - name: sops-age-key
        mountPath: /home/argocd/.config/sops/age/
        readOnly: true
    resources:
      requests:
        cpu: 50m
        memory: 128Mi

  controller:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
  applicationSet:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
  redis:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
